[submodule "hardware/kicad-library"]
	path = hardware/kicad-library
	url = git@github.com:fgervais/kicad-library.git
[submodule "firmware/lib-python"]
	path = firmware/lib-python
	url = git@github.com:fgervais/lib-python.git
